<div class="file" [style.padding-left.px] = "node.depth * 10" (dblclick)="onDoubleClick()" [class.active]="node.isActive">
    <div class="file-heading">
        <app-file-icons [fileType]="isRenaming ? getExtensionFromTentativeName() : node.fileType" [isTentativeFile]="node.isTentativeNode"></app-file-icons>
        <div class="file-name" *ngIf="!isRenaming">
            {{ node.name }}
        </div> 
        <div *ngIf="isRenaming">
            <app-user-input [parentPath]="node.parentPath" [depth]="node.depth" [isFile]="true" [editMode]="true" 
            [currentName]="node.name" (onSubmit)="changeName($event)" (dismiss)="dismissNameChange()"
            (currentValue)="updateTentativeName($event)"></app-user-input>
        </div>
    </div>
    <div *ngIf="!isRenaming" class="common-actions">
        <app-common-actions [isRoot]="node.isRoot" [isFile]="true" [mode]="node.mode || -1 "
        (delete)="this.deleteFile($event)" (startRenaming)="this.startRenaming($event)"></app-common-actions>
    </div>
</div>
