.file {
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px; 
    
    &:hover {
        background-color: lighten(#262626, 5%); // Lighten bg color (TODO: Store bg color in global var?)
    }
}

.file-icons {
    margin-right: 5px;
}

.active {
    background-color: #0068b3;

    &:hover {
        background-color: #0068b3;
    }
}

.file-heading {
    padding-left: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.common-actions {
    display: none;
    position: absolute;
    z-index: 99;
}

.show {
    display: inline-block !important;
}

.file-name {
    text-overflow: ellipsis;
    overflow: hidden;
}