<div class="file" [style.padding-left.px] = "node.depth * 10" (click)="onClick()" 
    [class.active]="node.isActive"
    (contextmenu)="toggleContextMenu($event)">
    <div class="file-heading">
        <app-file-icons [data]="isRenaming ? {path: tentativeName} : {path: node.path}" [isTentativeFile]="node.isTentativeNode"></app-file-icons>
        <ng-container class="file-name" *ngIf="!isRenaming">
            {{ node.name }}
        </ng-container> 
        <div *ngIf="isRenaming">
            <app-user-input [parentPath]="node.parentPath" [depth]="node.depth" [isFile]="true" [editMode]="true" 
            [currentName]="node.name" (onSubmit)="changeName($event)" (dismiss)="dismissNameChange()"
            (currentValue)="updateTentativeName($event)"></app-user-input>
        </div>
    </div>
    <div *ngIf="!isRenaming" class="common-actions" [class.show]="showContextMenu">
        <app-common-actions [isRoot]="node.isRoot" [isFile]="true" [mode]="node.mode || -1 "
        [offsetX]="offsetX" [offsetY]="offsetY" (close)="closeContextMenu()"
        (delete)="this.deleteFile($event)" (startRenaming)="this.startRenaming($event)"></app-common-actions>
    </div>
</div>
