<div class="file" [style.padding-left.px] = "node.depth * 10" (click)="onClick()" 
    [class.active]="isActive"
    (contextmenu)="toggleContextMenu($event)">
    <div class="file-heading">
        <app-file-icons class="file-icons" [path]="isRenaming ? tentativeName : node.path" [isTentative]="node.isTentativeNode"></app-file-icons>
        <div class="file-name" *ngIf="!isRenaming">
            <span *ngIf="!node.isGlossary">{{ node.name }}</span>
            <span *ngIf="node.isGlossary">{{ node.name | toGlossaryName }}</span>
        </div> 
        <div *ngIf="isRenaming" style="overflow: hidden;">
            <app-user-input [parentPath]="node.parentPath" [depth]="node.depth" [isFile]="true" [editMode]="true" 
            [currentName]="node.name" (onSubmit)="changeName($event)" (dismiss)="dismissNameChange()"
            (currentValue)="updateTentativeName($event)"></app-user-input>
        </div>
    </div>
    <div *ngIf="!isRenaming" class="common-actions" [class.show]="showContextMenu" [style.top.px]="offsetY - 20" [style.left.px]="offsetX">
        <app-common-actions [isRoot]="node.isRoot" [isFile]="true" [mode]="node.mode || -1 "(close)="closeContextMenu()"
        (delete)="this.deleteFile($event)" (startRenaming)="this.startRenaming($event)" [isVisible]="showContextMenu"></app-common-actions>
    </div>
</div>
