.folder {
    color: rgb(204, 204, 204);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px; 
    align-items: center;
    justify-content: space-between;

    &:hover{
        background-color: lighten(#262626, 5%);
    }
}

.link {
   color: #8f8f8f;
   text-decoration: underline;

   &:hover {
       color: #afafaf;
       cursor: pointer;
   }
}

.folder-heading {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.show {
    display: inline-block !important;
}

.root-folder {
    background-color: hsl(220 12% 20%);
}       

.common-actions {
    display: none;
    position: absolute;
    z-index: 99;
}

.active {
    background-color: lighten(#262626, 10%);
    outline: 1px solid rgb(0,104,179);
    box-shadow: 0px 0px 4px 0px rgba(0,104,179,1) inset;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,104,179,1) inset;
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,104,179,1) inset;

    &:hover {
        background-color: lighten(#262626, 10%);
    }
}

.folder-text {
    color: white;
    margin-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.root-text {
    text-transform: uppercase;
    font-size: 0.875rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.folder-icon > .arrow{
    width: 20px;
    height: 20px;
    color: #ffffff66;
}

.options {
    margin: 0px;
}