.tab-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  background-color: rgb(48, 48, 48);
}

.tab-button {
  display: flex;
  align-items: center;
  margin-right: 4px;
  flex-direction: row;
  padding: 0.5em;
  color: rgb(240, 240, 240);
  width: auto;
  flex-shrink: 0;
  background-color: rgb(58, 58, 58);
  cursor: pointer;
  border: none;

  &.active {
    background-color: rgb(38, 38, 38);
  }
}

.tab-title {
  flex-grow: 1;
  text-align: left;
}

.close-button {
  display: flex;
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
}

.tab-body {
  width: 100%;
  height: calc(100% - 45px);
  overflow: hidden;
}

.tab-icon {
  padding-right: 0.2em;
  transform: scale(0.8);
}
