@import "../../styles.scss";

.nav {
    background-color: rgb(46, 49, 56);
    display: flex;
    align-items: center;
}

.logo {
    width: calc(2* #{$icon-size});
    height: calc(2* #{$icon-size});
}

.blueberry-logo {
    width: $icon-size;
    height: $icon-size;
    padding: calc(#{$icon-size} / 2);

    &:hover {
        cursor: pointer;
    }
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-wrapper {
    width: 30%;
    background-color: rgb(66, 70, 80);
    border-radius: 5px;
    display: flex;
    align-items: center;

    &:focus-within {
        border: 1px solid #1389fd;
    }
}

app-search {
  width: 100%;
}
