<nav class="nav">
    <div class="logo">
      <img class="blueberry-logo" src="assets/blueberry.png" alt="Startseite">
    </div>
    <div class="search-bar">
      <div class="search-wrapper">
        <svg class="svg-icon search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-labelledby="searchIconTitle" stroke="currentColor" stroke-width="1" stroke-linecap="square"
          stroke-linejoin="miter" fill="none">
          <title id="searchIconTitle">Suchen</title>
          <path d="M14.4121122,14.4121122 L20,20" />
          <circle cx="10" cy="10" r="6" />
        </svg>
        <input type="text" placeholder="Im Glossar suchen" class="search-input">
      </div>
    </div>
</nav>
