<div *ngIf="isSwitching"> <!-- TODO: min switching time-->
    <app-loading-animation>Workspace wird gewechselt. Wir bereiten im Hintergrund alles vor. Einen Moment bitte.</app-loading-animation>
</div>

<select (change)="onSelectChange($event)">
    <option value="" disabled [selected]="selectedLesson === ''">Lektion wählen</option>
    <option *ngFor="let lesson of lessons | async" 
        [value]="lesson"
        [selected]="lesson === selectedLesson">
            {{lesson}}
    </option>
</select>
