.icon-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 64px;
}

.icon {
    width: 25px;
    height: 20px;
}

.folder-icon  {
    & > .arrow {
        color: #ffffff66;
    }

    & > .actual-folder {
        fill: #0068b3;
    }

    & > .actual-folder-active {
        fill: white;
        color: white;
    }
}

.rename-margin {
    margin-left: 20px;
}
