<as-split direction="horizontal" class="main-split">
  <as-split-area>
    <as-split direction="vertical">
      <as-split-area>
        <app-tab-group [dataSource]="[{type: 'CODE', title: 'code', icon: 'hero-document-text'}]">
          <ng-container *appTabTemplate="let content = content; type: 'CODE'">
            <app-code-viewer class="code-wrapper"></app-code-viewer>
          </ng-container>
        </app-tab-group>
      </as-split-area>
      <as-split-area>
        <app-terminal-viewer></app-terminal-viewer>
      </as-split-area>
    </as-split>
  </as-split-area>
  <as-split-area>
    <app-tab-group [dataSource]="[{type: 'UNITY', title: 'Unity'}, {type: 'IMAGE', title: 'Dog', icon: 'hero-photograph'}]">
        <app-unity-viewer *appTabTemplate="let content = content; type: 'UNITY'">
        </app-unity-viewer>
      <div *appTabTemplate="let content = content; type: 'IMAGE'">
        <app-image-viewer imagePath="assets/dog.png"></app-image-viewer>
      </div>
    </app-tab-group>
    <app-hint-viewer></app-hint-viewer>
  </as-split-area>
</as-split>
