<div #liste class="filetree-headline">
  Dateien
</div>

<hr>

<!-- TODO: Remove hardcoded stuff -->
<!-- TODO: Move into seperate component -->
<!-- <div class="import-export-area">
  <button id="dl" (click)="export('sortierroboter')">Exportieren</button>
  <button (click)="openImportWindow()">Importieren</button>
</div> -->

<div class="modal-background" [class.invisible]="!showImportWindow" (click)="closeImportWindow()">
  <div class="import-window" (click)="preventBubbling($event)">
    <h2>Importieren von Lektionen/Projekten</h2>
    <div class="dropzone-wrapper" [class.dropzone-active]="dragOver" (drop)="dropFile($event)" (dragover)="preventDragOver($event)" (dragleave)="dragOver = false">
      <div *ngIf="!selectedFile" class="dropzone">
        <label [class.dropzone-active]="dragOver" for="file">
          <svg xmlns="http://www.w3.org/2000/svg" class="add-symbol" [class.dropzone-active]="dragOver"  viewBox="0 0 24 24" aria-labelledby="addIconTitle"
          stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="miter" fill="none">
            <title id="addIconTitle">Archiv hochladen</title>
            <path d="M17 12L7 12M12 17L12 7"/>
            <circle cx="12" cy="12" r="10"/>
          </svg>
          <div>
            Archiv auswählen (oder in die Zone ziehen)
          </div>
        </label>
        <input type="file" id="file" #fileInput accept=".zip" multiple="false" (change)="fileInputChange($event)">
      </div>
      <div *ngIf="selectedFile" class="wrapper">
        <div class="file-overview">
            <svg class="import-folder" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="folderIconTitle"
            fill="currentColor"> <title id="folderIconTitle">Archiv</title>
              <path d="M3 5h6l1 2h11v12H3z"/>
            </svg>

            <div class="stats">
              <div class="folder-name">
                {{ selectedFile.name}}
              </div>
              <!-- <div class="folder-size">
                {{ selectedFile.size }}
              </div> -->
            </div>

            <svg class="delete-icon" (click)="clearSelection()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="cancelIconTitle" stroke="red" stroke-width="2"
            stroke-linecap="square" stroke-linejoin="miter" fill="none">
             <title id="cancelIconTitle">Löschen</title>
              <path d="M15.5355339 15.5355339L8.46446609 8.46446609M15.5355339 8.46446609L8.46446609 15.5355339"/>
              <path d="M4.92893219,19.0710678 C1.02368927,15.1658249 1.02368927,8.83417511 4.92893219,4.92893219 C8.83417511,1.02368927 15.1658249,1.02368927 19.0710678,4.92893219 C22.9763107,8.83417511 22.9763107,15.1658249 19.0710678,19.0710678 C15.1658249,22.9763107 8.83417511,22.9763107 4.92893219,19.0710678 Z"/>
            </svg>
          </div>
      </div>
    </div>
    <div class="last-row">
      <div *ngIf="!checkInProgress && tempZip !== undefined">
        <div *ngIf="!conflictDetected">
          Kein Konflikt
        </div>
        <div *ngIf="conflictDetected">
          ACHTUNG: Ein Projekt mit dem gleichen Namen existiert bereits. Wenn du fortfährst wird dieses
          unwiederbringlich überschrieben!
        </div>

        <div *ngIf="checkInProgress">
            Prüfe Datei auf Korrektheit....
        </div>
      </div>
      <button class="import-button" [disabled]="!tempZip" (click)="finishImport()">Importieren</button>
    </div>
  </div>
</div>



