<div class="common-actions" [ngClass]="{'ctx-menu': !isInlineMenu, 'inline-menu': isInlineMenu}">
  <div class="ctx-entry" *ngIf="isReadonly">
    {{ READONLY_MSG }}
  </div>

  <div class="ctx-entry" *ngIf="!isRoot && !isReadonly && !isInlineMenu" (click)="this.emitDelete($event)">
    {{ DELETE_MSG }}
  </div>

  <div class="ctx-entry" *ngIf="!isRoot && !isReadonly && !isInlineMenu" (click)="this.emitStartRenaming($event)">
    {{ RENAME_MSG }}
  </div>

  <div [class.ctx-entry]="!isInlineMenu" *ngIf="!isFile && !isReadonly" (click)="this.emitCreateFromUi({ev: $event, isFile: false})">
    {{ CREATE_FOLDER_MSG }}
  </div>

  <div [class.ctx-entry]="!isInlineMenu" *ngIf="!isFile && !isReadonly" (click)="this.emitCreateFromUi({ev: $event, isFile: true})">
    {{ CREATE_FILE_MSG }}
  </div>

  <div [class.ctx-entry]="!isInlineMenu" *ngIf="!isFile && !isReadonly" (click)="stopPropagation($event)">
    <label class="common-action-icon">
      <input type="file" multiple="true" (change)="filesChange($event)" class="invisible">  
      <span>{{UPLOAD_MSG}}</span>
    </label>
  </div>

</div>
