.loading-animation {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>* {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

h1 {
  color: rgb(218, 218, 218);
  font-weight: 400;
}

.loading-image {
  width: 20%;
  height: auto;
}

.loading-content {
  margin-left: 10%;
  margin-right: 10%;
}