.entry {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;

    &:hover {
        background-color: #333333;
        cursor: pointer;
        border-radius: 5px;
    }
}

a {
    &:link {
        color: white;
    }

    &:visited {
        color: lightblue;
    }
}

img {
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.icon-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
}

.no-margin {
    margin-bottom: 0px;
}