<h1 class="mt-0">Credits</h1>
<div>
    Ladeanimation: <a href="https://loading.io/css/">loading.io</a>
</div>
<div>
    Icons (Suche und Aktionselemente): <a href="https://github.com/mikolajdobrucki/ikonate">Ikonate</a>
</div>
<div class="icon-grid"> 
    <a *ngFor="let icon of icons" class="entry" href='{{icon.url}}' title='{{icon.name}}' target="_blank">
        <img src='assets/icons/{{icon.path}}.png'>
        <div>Icons made by </div>
    </a>
</div>

<!-- <a href='{{icon.url}}' title='{{icon.name}}'>{{icon.name}}</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> -->

