$margin: 15px;
$margin-small: 10px;
$padding: 15px;

.select-arrow {
    width: 24px;
    height: 24px;
    color: #0068b3;
    margin-left: 5px;
    margin-top: -2px;
}

.arrow {
    width: 2em;
    height: 2em;
    align-self: center;
}

.main-text {
    margin-right: 5px;
    font-weight: 600;
}

.plus {
    width: 1em;
    height: 1em;
    margin-left: 10px;
}

#select-lesson {
    position: relative;
}

.entry {
    padding: $padding;
    margin: 0px $margin 0px $margin;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #333333;
        cursor: pointer;
        border-radius: 5px;
    }
}

img {
    width: 2em;
    height: 2em;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.entry-wrapper {
    background-color: #1f1f1f;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    position: absolute;
    max-height: 700px;
    overflow-y: auto;
    width: 400px;
    color: white;
    z-index: 5;

    & > * {
        margin-top: $margin;
    }
}

.current-selection {
    color: lightgray;
}

.seperator {
    display: flex;
    margin: 5px calc(#{$margin} + #{$padding}) 5px calc(#{$margin} + #{$padding});
}

hr {
    margin: 0px $margin 0px $margin;
    border: none;
    height: 1px;
    background: #8f8f8f;
    margin-top: $margin-small;
    margin-bottom: $margin-small;
}

.status-indiciator {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #8f8f8f;
}

.available-local {
    background-color: #219653;
}

.available-remote {
    background-color: #f2b32c;
}

.empty, .content-description {
    color: #8f8f8f;
    font-size: 0.9em;
}

.content-heading, .arrow {
    color: lightgray;
}

.content-description {
    display: flex;
    align-items: center;
}

.empty {
    padding: $padding;
    margin: 0px $margin 0px $margin;
    display: flex;
    justify-content: center;
}

.empty-sandbox {
    padding-bottom: 0px;
}

.link {
    margin-left: 10px;

    &:hover {
        text-decoration: underline;
        color: #afafaf;
    }
}

.ml {
    margin-left: 10px;
}

.disabled:hover {
    text-decoration: none !important;
    color: #8f8f8f !important;
    cursor: initial;
}

.sandbox-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: $margin;
    margin-top: $margin;
}

.sandbox-button {
    background-color: #219653;
    color: white;
    padding: $padding;
    margin: 0px $margin 0px $margin;
    border-radius: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: #197741;
    }
}

.scaled-animation {
    height: 20px;
    width: 55px;
    transform: scale(0.5) translateY(-27px);
}