<div *ngIf="isSwitching">
    <app-loading-animation>Workspace wird geöffnet. Einen Moment bitte.</app-loading-animation>
</div>

<app-modal *ngIf="showCreationDialog" 
    (close)="closeCreationDialog()" >
    <app-sandbox-creation 
        (cancel)="closeCreationDialog()"
        (create)="createNewSandbox($event)">
    </app-sandbox-creation>
</app-modal>

<app-modal *ngIf="showSandboxDeletionDialog"
    (close)="closeDeletionDialog()">
    <app-confirmation-dialog 
        (choice)="onDeletionChoice($event)"
        (close)="closeDeletionDialog()">
        <h1 class="mt-0">Sandbox löschen</h1>
        Bist du sicher, dass du die Sandbox <code>{{ sandboxToDelete?.name }}</code> endgültig löschen möchtest?
        Dieser Schritt kann nicht rückgängig gemacht werden!
    </app-confirmation-dialog>
</app-modal>

<div class="main">
    <div class="main-text">
        Workspace:
    </div>
    <div id="select-lesson">
        <div (click)="showOptions = !showOptions" class="current-selection">
            <ng-template *ngIf="selectedExperience.uuid === ''; else showEntries">
                <div class="current-selection-text">
                    Kein Workspace gewählt
                </div>
            </ng-template>
            <ng-template #showEntries>
                <div class="current-selection-text">
                    {{ selectedExperience.name }}
                </div>
            </ng-template>
            <svg class="select-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-labelledby="chevronDownIconTitle" stroke="currentColor" stroke-width="2" stroke-linecap="square" 
                stroke-linejoin="miter" fill="none"> 
                <title id="chevronDownIconTitle">Auswahl anzeigen</title>
                <polyline points="6 10 12 16 18 10"/> 
            </svg>
        </div>
        <div class="entry-wrapper" [hidden]="!showOptions">
            <div *ngIf="(experiences$ | async)?.lessons?.length === 0" class="empty">
                Keine Lektionen gefunden.
            </div>
            <div *ngFor="let lesson of (experiences$ | async)?.lessons"
                class="entry" 
                (click)="onSelectChange(lesson)"
                title="Öffnen">
                <img src="assets/icons/mortarboard.png">
                <div class="content">
                    <div class="content-heading">
                        {{ lesson.name }}
                    </div>
                    <div class="content-description">
                        <div class="status-indiciator" 
                            [class.available-local]="lesson.availableOffline" 
                            [class.available-remote]="!lesson.availableOffline"
                            title="{{ lesson.availableOffline == true ? 'Offline verfügbar' : 'Noch nicht heruntergeladen' }}"></div> 
                        <app-progress-spinner class="scaled-animation" *ngIf="exporting !== undefined && exporting.uuid === lesson.uuid"></app-progress-spinner>
                        <div class="link" *ngIf="lesson.availableOffline && (exporting === undefined || exporting.uuid !== lesson.uuid)" title="Exportiere deinen Fortschritt"
                            (click)="export(lesson, $event)">Export</div>
                        <div class="link disabled" *ngIf="lesson.availableOffline" title="Fortschritt zurücksetzen">Zurücksetzen (bald)</div>
                        <div class="ml" *ngIf="!lesson.availableOffline" title="Nicht verfügbar zurücksetzen">Aktionen nach Herunterladen verfügbar</div>
                    </div>
                </div>
                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-labelledby="chevronRightIconTitle" stroke="currentColor" stroke-width="2" stroke-linecap="square"
                    stroke-linejoin="miter" fill="none">
                    <title *ngIf="lesson.availableOffline" id="chevronRightIconTitle">Öffnen</title>
                    <title *ngIf="!lesson.availableOffline" id="chevronRightIconTitle">Herunterladen und öffnen</title>
                    <polyline points="10 6 16 12 10 18 10 18" />
                </svg>
            </div>

            <hr>

            <div *ngFor="let sandbox of (experiences$ | async)?.sandboxes"
                class="entry" 
                (click)="onSelectChange(sandbox)"
                title="Öffnen">
                <img src="assets/icons/industrial-robot.png">
                <div class="content">
                    <div class="content-heading">
                        {{ sandbox.name }}
                    </div>
                    <div class="content-description">
                        <div class="status-indiciator available-local" title="Offline verfügbar"></div>
                        <app-progress-spinner class="scaled-animation" *ngIf="exporting !== undefined && exporting.uuid === sandbox.uuid"></app-progress-spinner>
                        <div class="link" (click)="export(sandbox, $event)" title="Sandbox exportieren">Export</div>
                        <div class="link" *ngIf="sandbox.availableOffline && (exporting === undefined || exporting.uuid !== sandbox.uuid)" title="Sandbox löschen" 
                            (click)="openSandboxDeletionDialog($event, sandbox)">Löschen</div>
                    </div>
                </div>
                <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-labelledby="chevronRightIconTitle" stroke="currentColor" stroke-width="2" stroke-linecap="square"
                    stroke-linejoin="miter" fill="none">
                    <title id="chevronRightIconTitle">Sandbox öffnen</title>
                    <polyline points="10 6 16 12 10 18 10 18" />
                </svg>
            </div>
            <div *ngIf="(experiences$ | async)?.sandboxes?.length === 0" class="empty empty-sandbox">
                Keine Sandboxes gefunden.
            </div>
            <div class="sandbox-wrapper">
                <div class="sandbox-button" (click)="openCreationDialog($event)">Neue Sandbox
                    <svg xmlns="http://www.w3.org/2000/svg" class="plus" viewBox="0 0 24 24" 
                    aria-labelledby="plusIconTitle" stroke="white" stroke-width="2" 
                    stroke-linecap="square" stroke-linejoin="miter" fill="none">
                        <title id="plusIconTitle">Neue Sandbox erstellen</title> 
                        <path d="M20 12L4 12M12 4L12 20"/> 
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>