<div class="container">
  <app-navbar></app-navbar>

  <main class="content">
    <app-actionbar></app-actionbar>
    <section class="sidebar">
       <app-filetree></app-filetree>
    </section>
    <div class="main-test" id="main-content">
      <div class="code" id="code-area">
        <app-code-viewer class="code-wrapper"></app-code-viewer>
        <app-terminal-viewer></app-terminal-viewer>
      </div>
      <div class="simulation" id="simulation">
        <!-- <app-unity-viewer></app-unity-viewer> --> 
      </div>
    </div>
  </main>
</div>
