.code-action-bar {
  bottom: 75px;
}

// ngx-monaco uses width: 98% for its container element, thus being slightly too small by default
#monaco-editor {
  overflow: hidden;
  height: 102%;
}

.editor {
  height: 100%;
}
