<div class="action-bar" id="action-bar">
    <div class="action-bar-top">
      <button class="action-bar-button" (click)="toggleFiles()">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-labelledby="fileIconTitle"
          stroke="currentColor" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter" fill="none">
          <title id="fileIconTitle">Aktueller Workspace</title>
          <path stroke-linecap="round" d="M13 3v6h6" />
          <path d="M13 3l6 6v12H5V3z" />
        </svg>
      </button>
      <button class="action-bar-button" (click)="openHints()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke="currentColor" stroke-width="1" stroke-linecap="square" stroke-linejoin="miter">
          <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/>
          <title id="extensionIconTitle">Hinweise</title>
        </svg>
      </button>
</div>