<form class="form" [formGroup]="formGroup" (submit)="onSubmit()">
    <h1>Neue Sandbox erstellen</h1>
    <label for="name-input">Name</label>
    <input id="name-input" 
        type="text" 
        placeholder="Name der neuen Sandbox"
        [formControl]="nameFormControl"> 
    
    <div class="errors" *ngIf="formGroup.get('nameFormControl')?.hasError('error') && formGroup.get('nameFormControl')?.dirty">
        {{ formGroup.get('nameFormControl')?.errors?.error}}
    </div>

    <div class="prereq">
        Voraussetzungen:
        <ul>
            <li>Name darf nicht leer sein</li>
            <li>Name darf keine Leerzeichen oder Schrägstriche beinhalten</li>
            <li>Name darf nicht mit <code>sandbox</code> anfangen</li>
            <li>Name darf maximal 50 Zeichen lang sein</li>
            <li>Name darf noch nicht vergeben sein</li>
            <li>Name darf nicht reserviert sein <br>
                (reservierte Namen: <code>dev, home, lib, proc, tmp, bin, configs, external</code>)</li>
        </ul>
    </div>

    <!-- <div>
        <div class="row">
            Generierter Pfad:
            <div class="tooltip" title="Um auf Daten innerhalb einer Sandbox zugreifen zu können muss der generierte Pfad mit angegeben werden!">
                <svg role="img"
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 24 24" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="square" 
                    stroke-linejoin="miter" 
                    fill="none"> 
                    <path d="M12,12 L12,15"/> <line x1="12" y1="9" x2="12" y2="9"/> <circle cx="12" cy="12" r="10"/>
                </svg>
            </div>
        </div>

        <div class="path">
            <code>/sandboxes/{{formGroup.get('nameFormControl')?.value}}</code>
        </div>
    </div> -->

    <div class="buttons">
        <button type="button" (click)="cancel()">Abbrechen</button>
        <button type="submit" [disabled]="!formGroup.dirty || formGroup.invalid">Erstellen</button>
    </div>
</form>