.hint-container {
    background-color: lightgray;
}

.hint-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;

    height: 24px;
    width: 24px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;

    color: #ffffff66;
    background-color: rgb(46, 49, 56);

    &:hover {
        background-color: rgb(66, 70, 80);
        cursor: pointer;
        color: rgb(240, 240, 240);
    }

}

.hint-overlay-container {
    background-color: #DFDFDF;
    border-radius: 10px;
    padding: 20px; 
    width: 400px;
    height: 600px;
    overflow-y: auto;
}

.hint-dialogue > * {
    margin-top: 7px;
    width: fit-content;

    padding: 7px;
    border-radius: 5px;
}

.hint-question {
    background-color: #AAD7EC;
    margin-right: 0;
    margin-left: auto;
}

.hint-answer {
    background-color: #46C0DE;
}

#hint-history {
    cursor: default;
}

#hint-option {
    background-color: #FFDC82;

    &:hover {
        background-color: #FFCA44;
        cursor: pointer;
    }
}