.hint-container {
    background-color: lightgray;
    display: flex;
    height: 100%;
}

.hint-overlay-bar {
    position: absolute;
    bottom: 10px;
    // margin-top: auto;
}

.undo-button {
    width: 24px;
    height: 24px;
    margin: 10px;   
    text-align: center;
}

.hint-dialogue > * {
    margin-top: 7px;
    width: fit-content;

    padding: 7px;
    border-radius: 5px;

    max-width: 70%;
}

.hint-question {
    background-color: #AAD7EC;
    margin-right: 10%;
    margin-left: auto;
    
}

.hint-answer {
    background-color: #46C0DE;
    margin-left: 10%;
}

#hint-history {
    cursor: default;
}

#hint-option {
    background-color: #FFDC82;

    &:hover {
        background-color: #FFCA44;
        cursor: pointer;
    }
}

}

.hint-overlay-container {
    background-color: beige;
    border-radius: 10px;
    padding: 20px; 
    width: 400px;
    height: 600px;
    overflow-y: auto;
}

.hint-dialogue > * {
    margin-top: 10px;
}

.hint-question {
    background-color: yellow;
}

.hint-answer {
    background-color: orange;
}

#hint-history {
    cursor: default;
}

#hint-option {
    background-color: lightseagreen;

    &:hover {
        background-color: rgb(66, 70, 80);
        cursor: pointer;
        color: rgb(240, 240, 240);
    }
}