.hint-container {
    background-color: lightgray;
    display: flex;
    overflow-y: scroll;
    height: 100%;
}

.hint-overlay-bar {
    position: absolute;
    bottom: 10px;
}

.undo-button {
    width: 24px;
    height: 24px;
    margin: 10px;   
    text-align: center;
}

.hint-dialogue > * {
    margin-top: 7px;
    width: fit-content;

    padding: 7px;
    border-radius: 5px;

    max-width: 70%;

}

.markdown > p {
    display: inline;
}

.hint-dialogue {
    height: 100%;
    width: 100%;
}

.hint-question {
    background-color: #AAD7EC;
    margin-right: 10%;
    margin-left: auto;
    
}

.hint-answer {
    background-color: #46C0DE;
    margin-left: 10%;
}

#hint-history {
    cursor: default;
}

#hint-option {
    background-color: #FFDC82;

    &:hover {
        background-color: #FFCA44;
        cursor: pointer;
    }
}
