@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import "./variables.scss";

@import '~@angular/cdk/overlay-prebuilt.css';

// Global CSS classes
.svg-icon {
  width: $icon-size;
  height: $icon-size;
}

body {
  margin: 0;
  padding: 0;
  background-color: #262626;
  font-family: "Roboto", sans-serif;
}

.mt-0 {
  margin-top: 0px;
}

.pg-btn {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  border: 0px;
  color: lightgray;
  font-size: 0.9em;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin: 5px 0px 5px 0px;

  &:hover {
    cursor: pointer;
    background-color: lighten($color: #1e1e1e, $amount: 5);
  }
}

* {
  scrollbar-color: #6969dd rgb(38, 38, 38);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(38, 38, 38);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6969dd;
  }
}

.wrapper {
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #262626;
  color: #d4d4d4;
  border-radius: 5px;
  width: 50vw; // TODO: responsive width
  max-height: 70vh;
  padding: 25px;
}

.invisible {
  display: none !important;
}

.slider {
  width: 4px;
  margin-left: -2px;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: box-shadow 0.1s;

  &:hover {
    cursor: col-resize;
    box-shadow: 0 0 0 1px #1389fd;
    background-color: #1389fd;
  }
}

.code-action-bar {
  display: flex;
  justify-content: end;
  justify-items: center;
  position: relative;
  bottom: 0;
  right: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  margin-right: 12px;
}

.action-bar-icon {
  height: 24px;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  color: #ffffff66;
  background-color: rgb(46, 49, 56);
  pointer-events: all;

  &:hover {
    background-color: rgb(66, 70, 80);
    cursor: pointer;
    color: rgb(240, 240, 240);
  }
}

/** Glossary start */

.glossary-image {
  height: 150px;
}

/** Glossary end */

/** ngx-guided-tour start */

.tour-block {
  border-radius: 10px;
}

$tour-skip-link-color: white;                   // Skip button color.
$tour-text-color: white;                        // Color of the text that is in the tour step box.
$tour-next-text-color: white;                   // Next button text color.
$tour-shadow-color: rgb(46, 49, 56);            // Shadow backdrop that is used for the tour.
$tour-step-color: rgb(66, 70, 80);              // Background color for the tour step box.
$tour-next-button-color : rgb(66, 70, 80);      // Next button color.
$tour-next-button-hover: rgb(66, 70, 80);       // Next button hover color.
$tour-back-button-color : white;                // Back button color.

//$tour-zindex :                                // Base z-index for the tour.
//$tour-orb-color :                             // Color of the orb to start   a tour.

@import '../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss';

/** ngx-guided-tour start end */
