<app-tab-group [id]="id">

  <ng-container *appTabTemplate="let tab = tab; let close = close; type: 'CODE'">
    <app-code-viewer class="code-wrapper" [appFileTab]="tab" (close)="close()"></app-code-viewer>
  </ng-container>

  <app-unity-viewer *appTabTemplate="let tab = tab; type: 'UNITY'">
  </app-unity-viewer>

  <div *appTabTemplate="let tab = tab; let close = close; type: 'IMAGE'">
    <app-image-viewer [appFileTab]="tab" (close)="close()"></app-image-viewer>
  </div>

  <app-hint-viewer *appTabTemplate="let tab = tab; type: 'HINT'"></app-hint-viewer>

  <div *appTabTemplate="let tab = tab; let close = close; type: 'MARKDOWN'">
    <app-markdown-viewer [appFileTab]="tab" (close)="close()"></app-markdown-viewer>
  </div>
</app-tab-group>
